img {
  width: 240px;
  height: 240px;
  border-radius: 15px;
}

.App-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.date-descr > h5 {
  border-bottom: 2px solid #011526;
  padding: 8px 0;
}

.date-descr > p {
  display: -webkit-box;
  max-width: 240px;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 14px;
}

.date {
  display: flex;
  justify-content: flex-end;
  min-width: 77.13px;
}

.scroll-gallery {
  width: 240px;
}

.copy-date {
  display: flex;
  justify-content: space-between;
  border-top: 2px solid #011526;
  padding: 8px 0;
}